.categories {
  $parent: &;
  transition: 0.5s ease-in-out;
  :hover {
    box-shadow: none;
    background-color: map-get($colors, purple-corporative);
    color: #fff;
    border-radius: 12px;
  }
  :hover &__img {
    background-color: #fff;
    border-radius: 50%;
  }
  &__button {
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 7px 25px;
    &--active {
      outline: none;
      box-shadow: none;
      border: 0;
      color: #fff;
      background-color: map-get($colors, green-corporative);
      border-radius: 12px;
      padding: 7px 25px;
    }
  }
  &__img {
    width: 31px;
    margin-right: 12px;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
  }
}
