@import '../base/variables';

.header {
  $parent: &;
  background-color: map-get($colors, green-coporative);
  height: 60px;
  &__button {
    &--img {
      width: 75px;
    }
  }
  &__favorites {
    width: 40px;
    height: 40px;
    &--badge {
      position: relative;
      top: -40px;
      right: -15px;
      border-radius: 50%;
      background-color: #cf3131;
      padding: 0 6px;
    }
  }
  &__cart {
    width: 40px;
    height: 40px;
    &--badge {
      position: relative;
      top: -40px;
      right: -15px;
      border-radius: 50%;
      background-color: #2178c9;
      padding: 0 6px;
    }
  }
  &__profile {
    width: 40px;
    height: 40px;
    &--img {
      width: 45px;
      border-radius: 50px;
    }
  }
}
