@import 'bootstrap/dist/css/bootstrap.min.css';
@import './base/fontawesome/fontawesome.scss';
@import './base/fontawesome/regular';
@import './base/fontawesome/solid';
@import './base/variables';
@import './base/font-size';
@import './components/product';
@import './components/header';
@import './components/categories';
@import './components/animations';
@import './components/store-presentation';
@import './components/loading';

body {
  min-width: 466px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
